*{
    margin: 10px;
}
 .header,footer{
    color: black;
    background-color:burlywood;
    height: 50px;
    padding: 20px;

}

h1,ul,li{
    display:inline;
}
ul{
    margin-left: 65%;
}
footer{
    text-align: center;
    padding: 40px;
    height: 80px;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
.contact{
    text-align:center;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;

}
.find{
    text-align: center;
}
.photo{
    display: inline-block;
    border-color:bisque;
    border-width: 10px;
    border-style: solid;
    flex-direction: row;
}
.available{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
